<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style_budgets_display.css">
    <script src="../static/js/aj_budgets_display.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Display Budget</title>
</head>
<body>
    <h1>Display Budget</h1>
    
    <table id="budget_table">
        <tr>
            <th>Budget Title</th>
            <th>Item Name</th>
            <th>Amount Budgeted</th>
            <th>Amount Spent</th>
            <th>Remainder/Excess</th>
        </tr>
    </table>
    <button id="back_button">Back</button>
</body>
</html>
