<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style_budgets.css">
    <script src="../static/js/budgets.js"></script>
    <title>Document</title>
</head>
<body>

    <div id="navbar"> 
        <div class="navbar_item" id="navbar_home">Home</div>
        <div class="navbar_item" id="navbar_expenses">Expenses</div>
        <div class="navbar_item" id="navbar_budget">Budget</div>
    </div>
    <div id="content">
        <p id="wel_msg">Welcome to your first budget creation, get started by clicking the button below!</p>
        <div id="budget_button">
            <button id="create_budget" onclick="window.location.href='budgets_create.html'">Create New Budget</button>
        </div>
    </div>
    
</body>
</html>