<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style_log_sign.css">
</head>
<body>
    
    <div id="form">
    <h2>Welcome Back</h2>
    <h3>Enter your credentials to login</h3>
        <form>
            <input type="text" id="email" name="email" placeholder="Email"><br>
            <input type="password" id="password" name="password" placeholder="Password"><br>
            <input type="submit" id="login" value="Login">
        </form>
    </div>
    
</body>
</html>
