<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style_nav.css">
    <title>Spendwise</title>
</head>
<body>

    <div class="flex-container">
        <div id="navbar"> 
            <a class="navbar_item" id="navbar_home" href="homepage.html">Home</a>
            <a class="navbar_item" id="navbar_expenses" href="expenses.html">Expenses</a>
            <a class="navbar_item" id="navbar_budget" href="budgets.html">Budget</a>
        </div>
    
        <div id="content">
            <img src="../images/SPENDWISE.png" alt="Centered Image" id="centred_image">
        </div>
    </div>
</body>
</html>
