body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #124076;
}

h1 {
    text-align: center;
}

#back_button {
    margin-bottom: 20px;
}

#budget_table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse; /* Collapse borders */
}

#budget_table th {
    background-color: #F9E897;
    color: #000;
    text-align: left;
    padding: 10px;
}

#budget_table td {
    padding: 10px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd; /* add border to the bottom of the cells */
}

#budget_table tr:nth-child(odd) {
    background-color: #F9E897; /* add a background color to every odd row */
}

#budget_table tr:nth-child(even) {
    background-color: #FCF4CF; /* add a background color to every even row */
}

button {
    margin-top: 10px;
    border-radius: 20px;
    background-color: #124076;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}